.backstage {
	text-align: center;
	padding: 140px 0px 100px 0px;
	position: relative;
	
	&__bottom {
		&::before {
			content: '';
			background: url(../assets/images/backstage/palm_foto.png) no-repeat;
			display: inline-block;
			width: 393px;
			height: 460px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&::after {
			content: '';
			background: url(../assets/images/backstage/strelitzia.png) no-repeat;
			display: inline-block;
			width: 368px;
			height: 275px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	&__articles {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);	
		grid-gap: 20px 30px;
		flex-wrap: wrap;
		margin: 0px 0px 80px 0px;
	}
}

.article {
	color: var(--main);
	border-radius: 5px;
	border: 1px solid var(--orange);
	display: inline-block;
	position: relative;

	&__image-wrapper {	
		margin: 0px 0px 8px 0px;
		position: relative;
	
	}
	
	&__image {
		transition: all 0.5s;
	}
	
	&__content {
		display: block;
		text-align: left;
		padding: 0px 0px 14px 16px;
		position: relative;
		transition: all 0.5s ease-in;
		
		&:nth-child(odd) {
			background: url(../assets/images/backstage/articles/icon/banana-bamboo_icon.svg) no-repeat;
			width: 33px;
			height: 37px;
			display: inline-block;	
			position: absolute;
			top: 0;
			right: 12px;
		}
	}

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		text-transform: uppercase;
		// margin: 0px 0px 14px 16px;
	}

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		// margin: 0px 0px 14px 16px;
	}
}

.article:hover {
	transform: scale(1.07);
	transition: all 1s;

}
.article:hover .article__content-hidden {
	display: inline-block;
	// position: relative;
}
.article__content-hidden {
	display: none;
	transition: all 1s;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 50%;
	background: #000;	
	opacity: 0.7;
	text-align: center;
	color: white;
}
// .article__content {
	// display: none;
// }


.vectors {
	width: 1322px;
	display: flex;
	justify-content: space-between;

	position: absolute;
	top: 61%;
	left: 15%;

}

.vector-left {
	width: 62px;
	height: 62px;
	background: var(--orange);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {}

.vector-right {
	width: 62px;
	height: 62px;
	background: var(--orange);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right {}


